body{
            background-color:rgb(24,25,26);
        }
        .self{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color:rgb(36,37,38);
            padding: 40px;
            
            border-radius: 30px;
            
           
            overflow: hidden;
        }
        .girl{
            border-radius: 30em;
            margin-top: 59px;
            
        }
        .background{
            position:fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            z-index: -1;
     
        }
        p{
            color:rgb(245,246,247);
            text-transform: capitalize;
            font-family: 'Inconsolata', monospace;
        }